extends layout

block content
  h1 Chat Client
  #messages
    each message in messages
      p(class="#{message._id}")
        strong #{message.usr}
        |  #{message.msg}  
        a(href='#', class='delete') Delete
  #name-input
    input(type='text', class='name', placeholder='Your Name')
  #msg-input
    input(type='text', class='text', placeholder='Your Message')