doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='/js/socket.io.min.js')
    script(src='/js/scripts.js')
  body
    block content